<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/templates/css/homepage.css" rel="stylesheet" />
    <title>Homepage</title>
</head>

<body>
    <div class="bg-image"></div>
    <div class="overlay"></div>
    <div class="logo-container">
        <div class="logo-text">YourMusicCharacter</div>
        <img class="spotify-logo" src="../assets/Spotifylogo.png" alt="Spotify Logo">
    </div>
    <div>
        <div class="title-container">
            <div class="title-welcome">Welcome!</div>
            <div class="title-test">To A Spotify Personality Test</div>
            <div class="description">
                Sign in to Your Spotify Account Then Get
                Personality-Based Cartoon Characters From
                Your Top 5 Most Listened to Spotify Songs!
            </div>
        </div>
        <button type="button" class="button-container" onclick="window.location.href='/login'">
            <span style="color: white;">Link Your </span>
            <span style="color: #1ED760;">Spotify</span>
            <span style="color: white;"> Account!</span>
        </button>
    </div>
    <div class="footer">
        A Tech Cadet Project
    </div>
    </div>
</body>

</html>